@import "../../../assets/styles/modules";

.footer {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  padding: $space-md $space-sm;

  .snsIcons {
    color: $white;
    display: flex;
    font-size: $f-size-md;

    .insta {
      padding-right: $space-sm;
    }
  }

  .footerInfo {
    color: $white;
  }
}
