$space-base: 4px;
$space-xs: 8px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 32px;
$space-xl: 48px;

$spaces: $space-base, $space-xs, $space-sm, $space-md, $space-lg, $space-xl;
$directions: Top, Left, Right, Bottom;
