@import "../../../assets/styles/modules";

.rankingDetail {
  padding: $space-xs;

  .rankingTitle {
    font-size: $f-size-lg;
    font-weight: bold;
    margin-bottom: $space-xs;
  }

  .rankingInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: $space-sm;
  }

  .rankingDetailItems {
  }
}