@import "../../../assets/styles/modules";

.rankingDetail {
  .rankingInfo {
    margin-bottom: $space-sm;
    padding: 0 $space-sm;
  }

  .rankingTitle {
    font-size: $f-size-lg;
    font-weight: bold;
    margin-bottom: $space-xs;
  }

  .rankingSubInfo {
    .creator {
      color: $support-color;
      margin-bottom: $space-base;
    }

    .genres {
      width: 100%;

      .genre {
        color: $black;
        margin-right: $space-base;
      }
    }
  }

  .rankingDetailItems {
  }

  .addItem {
    display: flex;
    width: 100%;
    margin-top: $space-md;

    .addItemInput {
      border-width: 0.9px;
      border-radius: $radius-sm;
      border-color: $support-color;
      margin-right: $space-xs;
      width: 100%;
    }

    .addItemButton {
      background-color: $secondary-color;
      color: $white;
      font-weight: bold;
      border-radius: $radius-sm;
    }

    .addItemButtonDisable {
      background-color: $dark-gray;
      color: $white;
      font-weight: bold;
      border-radius: $radius-sm;
    }
  }
}

.loadMoreButton {
  text-align: center;
}

.loadMoreButton:hover {
  opacity: 0.5;
  cursor: pointer;
}
