@import "../../../assets/styles/modules";

.genreCheckboxGroup {
  position: fixed;
  top: 100px;
  right: 30px;
  left: 30px;
  z-index: 200;
  background-color: $dark-gray;
  padding: $space-xl $space-md;
  border-radius: $radius-md;

  .dropDownLabel {
    color: $black;
    font-weight: bold;
  }
}
