@import "../../../assets/styles/modules";

.dropdownButton {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: solid;
  border-width: 0.9px;
  border-radius: $radius-sm;
  border-color: $support-color;
  padding: $space-xs $space-sm;
  margin-bottom: $space-xs;

  .dropdownValue {
    font-size: $f-size-md;
    color: $black;
  }

  .dropdownPlaceholder {
    font-size: $f-size-md;
    color: $support-color;
  }

  .dropdownLine {
    color: $black;
  }
}
