@import "src/assets/styles/modules";

.createRanking {
  .pageTitle {
    margin-bottom: $space-md;

    h2 {
      font-weight: bold;
    }
  }

  .title {
    margin-bottom: $space-md;

    .titleLabel {
      width: 100%;
      margin-bottom: $space-xs;
    }

    .titleInput {
      border-width: 0.9px;
      border-radius: $radius-sm;
      border-color: $support-color;
      margin-right: $space-xs;
      width: 100%;
      height: $size-xl;
    }
  }

  .genre {
    margin-bottom: $space-md;

    .genreLabel {
      width: 100%;
      margin-bottom: $space-xs;
    }

    .genreInput {
      border-width: 0.9px;
      border-radius: $radius-sm;
      border-color: $support-color;
      margin-right: $space-xs;
      width: 100%;
      height: $size-xl;
    }

    .genreOption {
      font-size: $f-size-xl;
    }
  }

  .button {
    background-color: $secondary-color;
    color: $white;
    font-weight: bold;
    border-radius: $radius-sm;
    margin: $space-sm 0;
  }
}
