@import "src/assets/styles/modules";

.createRanking {
  .pageTitle {
    margin-bottom: $space-md;

    h2 {
      font-weight: bold;
    }
  }

  .form {
    .title {
      margin-bottom: $space-md;

      .titleLabel {
        width: 100%;
        margin-bottom: $space-xs;
      }

      .titleInput {
        border-width: 0.9px;
        border-radius: $radius-sm;
        border-color: $support-color;
        margin-right: $space-xs;
        width: 100%;
        height: $size-xxl;
      }
    }

    .genre {
      margin-bottom: $space-md;

      .genreLabel {
        width: 100%;
        margin-bottom: $space-xs;
      }

      //.genreInput {
      //  border-width: 0.9px;
      //  border-radius: $radius-sm;
      //  border-color: $support-color;
      //  margin-right: $space-xs;
      //  width: 100%;
      //  height: $size-xl;
      //}

      .genreInput {
        border: 1px solid $support-color;
        border-radius: $radius-sm;
        margin-bottom: $space-xs;
        width: 100%;
        padding: $space-xs $space-xs;

        &.active {
          color: $primary-color;
          font-weight: bold;
          border: 1px solid $primary-color;
        }
      }

      .genreOption {
        font-size: $f-size-xl;
      }
    }

    .createButton {
      width: 100%;
      background-color: $secondary-color;
      color: $white;
      font-weight: bold;
      border-radius: $radius-sm;
      margin-top: $space-sm;
    }
  }
}
