@import "src/assets/styles/modules";

.form {
  .searchBar {
    border-width: 0.9px;
    border-radius: $radius-sm;
    border-color: $support-color;
    margin-bottom: $space-xs;
    width: 100%;
    height: $size-xxl;
  }

  .genreInput {
    border-width: 0.9px;
    border-radius: $radius-sm;
    border-color: $support-color;
    margin-bottom: $space-xs;
    width: 100%;
  }

  .sortByInput {
    border-width: 0.9px;
    border-radius: $radius-sm;
    border-color: $support-color;
    margin-bottom: $space-xs;
    width: 100%;
  }

  .searchButton {
    width: 100%;
    background-color: $secondary-color;
    color: $white;
    font-weight: bold;
    border-radius: $radius-sm;
  }
}

.rankingsCount {
  text-align: right;
  margin: $space-xs 0;
}
