@import "src/assets/styles/modules";

.searchBar {
  border-width: 0.9px;
  border-radius: $radius-sm;
  border-color: $support-color;
  margin-bottom: $space-xs;
}

.searchButton {
  width: 100%;
  background-color: $secondary-color;
  color: $white;
  font-weight: bold;
  border-radius: $radius-sm;
  margin-bottom: $space-sm;
}

.rankingsCount {
  text-align: right;
}
