@import "src/assets/styles/modules";

//.searchButton {
//  width: 100%;
//  background-color: $secondary-color;
//  color: $white;
//  font-weight: bold;
//  border-radius: $radius-sm;
//}

.listInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .rankingsCount {
    text-align: right;
    margin: $space-xs 0;
  }
}
