@import "../../../assets/styles/modules";

p {
  margin: 0;
}

.RankingCard {
  background-color: $content-bg-color;
  border-color: $primary-color;
  border-style: solid;
  border-radius: $radius-md;
  border-width: 0.9px;
  padding: $space-xs;
  margin-bottom: $space-sm;

  :hover {
    opacity: 0.5;
  }

  .item {
    display: flex;
    justify-content: space-between;
  }

  .title {
    font-size: $f-size-md;
    font-weight: bold;
    display: flex;
    align-items: center;
    max-width: 200px;

    p {
      display: inline-block;
      vertical-align: middle;
      color: $black;
    }
  }

  .sub {
    text-align: right;

    .counts {
      padding-bottom: $space-xs;
      display: flex;
      color: $support-color;

      //.itemsCount {
      //  color: $support-color;
      //  margin-right: $space-xs;
      //}
      //
      //.likesCount {
      //  color: $support-color;
      //}
    }

    .genre {
      color: $support-color;
      margin: 0;
    }
  }
}
