body {
  font-family: -apple-system, "Noto Sans JP", BlinkMacSystemFont, Helvetica Neue,
  Hiragino Kaku Gothic ProN, Hiragino Sans, ヒラギノ角ゴ ProN W3, Arial, メイリオ, Meiryo,
  sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
