@import "../../../assets/styles/modules";

.genreCheckboxModal {
  position: fixed;
  top: 100px;
  right: 30px;
  left: 30px;
  z-index: 200;
  background-color: $white;
  padding: $space-xl $space-md;
  border-radius: $radius-md;
  max-height: 600px;
  overflow: scroll;
}
